@model SimMarketing.Models.InquiryInformation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InquiryInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Middlename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquiryInformation1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InquiryInformation1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InquiryInformationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
